#HeadBar{
    width: 100vw;
    height: 5vh;
    transition: 0.6s;
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
    margin-bottom: 5vh;
    align-content: center;
    background-color: #E4E6E8; 
    opacity: 0.6;
}
#HeadBar:hover{
    opacity: 1;
    background-color: rgb(247, 247, 247);
}

.Container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items:center;
    text-align: center;
    font-size: 1vw;
    letter-spacing: 0.4px;
    color: #3E4251;
    opacity: 1;
    width: 700px;
    margin-right: 5vw;
}

.Container a{
    color: #3E4251;
    text-decoration: none;
}

.Container a:hover{
    font-weight: bold;
}

.Container a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.Container a:hover::after {
    width: 100%;
    /* //transition: width .3s; */
}

#logo{
    padding-left:1vw;
}