
.MainDiv{
    background-color: #E4E6E8;
    margin: none;
}

body{
    margin:0px;
    font-family:"Avenir";
    font-weight:"regular";
    letter-spacing: 0.6px;
    color:#3E4251;
}
html {
    scroll-behavior: smooth;
}