#bio-pic{
    width: 60vw; 
    max-width: 900px;
    min-width: 250px;
}
#description-row{
    padding-left: 8vw;
    padding-right:8vw;
    display:grid;
    grid-auto-flow: row;
    grid-template-columns: 52% 48% ;
}
#link-bio-wrap{
    display:grid;
    grid-template-columns: 10% 90%;
}
#description{
    font-size: 1.5vw;
    line-height: 4em;
    margin-top: 30vh;
    letter-spacing: 1px;
    color:#3E4251;
}
.flex-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0vw 8vw 2.5vw 2vw;
}
#quick-links{
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 200%;
    z-index:100;
}

.link-icons{
    margin: 10%;
    display:inline-block;

}
.link-icons svg{
    fill: #91949C;

}

#quick-links a svg:hover{
    fill: #3E4251;
}

